#get-div{
width: 50vw;
margin-left: 15%;
}

.itemName-div{
    text-transform: uppercase;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    word-wrap: break-word;
}

.date-div{
    margin-left: 4px;
    margin-top: 24px;
    font-size: medium;
    color: rgba(0, 0, 0, 0.637);
}

.edit, .delete{
    height: 30px;
    margin-left: 8px;
    margin-top: 16px;
    outline: none;
    background-color: white;
    border: 1px solid rgb(180, 182, 60);
}
.delete{
    margin-left: 5px;
}
.pen1{
    color: rgb(27, 105, 131)
}
.dustbin{
    color: rgb(80, 79, 79);
}
.edit-input{
    margin-top: 5px;
}

@media only screen and (min-width:768px){
    #get-div{
        width: 20vw;
        margin-left: 25%;
    }
}

@media only screen and (min-width:1200px){
    #get-div{
        width: 20vw;
        margin-left: 25%;
    }
}
