#get-div{
width: 20vw;
display: inline-flex;  
margin-left: 18%;
}

.itemName-div{
    text-transform: uppercase;
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.date-div{
    margin-left: 5px;
    margin-top: 24px;
    color: rgba(0, 0, 0, 0.637);
}

.edit, .delete{
    height: 30px;
    margin-left: 12px;
    margin-top: 16px;
    outline: none;
    background-color: white;
    border: 1px solid rgb(180, 182, 60);
}
.pen1{
    color: rgb(27, 105, 131)
}
.dustbin{
    color: rgb(80, 79, 79);
}
.edit-input{
    margin-top: 5px;
}