<div  data-ng-repeat = " item in items| orderBy: '-' ">

    <div id = "get-div">
       <p class = "itemName-div"> {{item.itemName}} 
       <span class = "date-div">   ({{item.date}}) </span>
       <button type="button" class=" edit" data-toggle="modal" data-target="#myModalEdit" data-ng-click="editItem(item._id)"><i class="fa fa-pencil pen1" aria-hidden="true"></i></button>
       <button type="button" class=" delete" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o dustbin" aria-hidden="true"></i></button>
       </p>
    </div>

    <div class="container"> 
      <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog"> 
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Are you sure you want to delete ?</h4>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="deleteItem(item._id)">Yes</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container"> 
      <div class="modal fade" id="myModalEdit" role="dialog">
        <div class="modal-dialog">     
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Edit Your Item !!</h4>
              <input class = 'edit-input' type="text" data-ng-model="itemName" placeholder="edit your item">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" data-ng-click="doneEdit($event, _id, itemName)">Done</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
